.scrollbar::-webkit-scrollbar {
  width: .5rem;
  height: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edfdff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #b2c8e2;
  border-radius: 100vh;
  border: 1px solid #ffffff88;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00136685;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

