.scrollbar::-webkit-scrollbar {
  width: .3rem;
  height: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edfdff00;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #4a5a6d;
  border-radius: 100vh;
  border: 1px solid #ffffff88;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #173558;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

